@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  src: url("http://localhost:3000/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  src: url("http://localhost:3000/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 200;
  src: url("http://localhost:3000/fonts/Poppins-ExtraLight.ttf");
}

@font-face {
  font-family: "Poppins";
  font-style: bold;
  font-weight: 700;
  src: url("http://localhost:3000/fonts/Poppins-Bold.ttf");
}
